#body {
    background: #ffffff;
    font-family:sans-serif;
    font-size: 20px;
    color:#3B3B3B
}
h1 {
    font-family:'impact';
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    color:#111111
}

#logo h1 {
    line-height: 150px;
    letter-spacing:3px;
    font-size: 6em;
}
#header-page{
    overflow:hidden;
    height = 600px;
}

#header {
    overflow: hidden;
    width : 1000px;
    height:150px;
    margin: 0px auto;
    padding: 0px 0px;
}
#banner {
    margin: 0px auto;
    width: 1000px;
    height: 450px;
}
#threeColumns {
    overflow: hidden;
    margin:  100px auto;
    width: 1000px;
    padding: 30px 0px;
}

#threeColumns h2 {
    font-family:'impact';
    font-weight: normal;
    padding: 0px 20px 20px 0px;
    font-size: 40px;
}

#threeColumns #column1 {
    float: left;
    width: 300px;
    margin-right: 50px
}

#threeColumns #column2 {
    float: left;
    width: 300px;
}

#threeColumns #column3 {
    float: right;
    width: 300px;
}

img{
    width: 1000px;
}
